<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonWin32" version="2.1.0.3" targetFramework="net472" />
  <package id="Dynamitey" version="2.0.10.189" targetFramework="net472" />
  <package id="ExtendedWPFConverters" version="2.0.4" targetFramework="net472" />
  <package id="ExtendedWPFVisualTreeHelper" version="2.0.3" targetFramework="net472" />
  <package id="HandyControl" version="3.5.1" targetFramework="net472" />
  <package id="MaterialDesignColors" version="5.3.2" targetFramework="net472" />
  <package id="MaterialDesignInXamlToolkitAddOns" version="0.0.63" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="5.3.2" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.77" targetFramework="net472" />
  <package id="ModernWPF" version="1.4.6" targetFramework="net472" />
  <package id="System.Drawing.Common" version="9.0.0" targetFramework="net472" />
</packages>